/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$assets-base: $assetsPath;

@import "choices.js/src/styles/choices.scss";
@import "@tabler/core/src/scss/tabler.scss";
@import "@tabler/core/src/scss/tabler-flags.scss";

body {
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv03", "cv04", "cv11";
}
