{% import '@SyliusAdmin/Shared/Component/_dropdown.html.twig' as dropdown %}
{% import '@SyliusAdmin/Shared/Component/_header.html.twig' as header %}

<div class="page-header">
    <div class="container-xl">
        {# TODO: Implement breadcrumbs #}
        <ol class="breadcrumb" aria-label="breadcrumbs">
            <li class="breadcrumb-item ">
                <a href="/views/dashboard/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="/views/customer/">Customers</a>
            </li>
        </ol>
        <div class="row g-2 align-items-center">
            <div class="col-12 col-md-6">
                <div class="d-md-flex gap-2 align-items-center">
                    {{ header.h1(header|trans, configuration.vars.icon|default('list'), configuration.vars.subheader|default('')|trans) }}
                </div>
            </div>
            {# TODO: Bleh, but forced by the way how Sylius Grid/Resource work :| #}
            <div class="col-12 col-md-auto ms-auto d-print-none">
                {% if definition.actionGroups.main is defined %}
                    {% set actions %}
                        {% for action in definition.getEnabledActions('main') %}
                            {{ sylius_grid_render_action(resources, action, null) }}
                        {% endfor %}
                    {% endset %}
                    {{ dropdown.default({ content: actions, button: { text: 'Actions' } }) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{#<div class="ui stackable two column grid">#}
{#    <div class="column">#}
{#        {% include configuration.vars.templates.header_title|default('@SyliusAdmin/Crud/Index/_headerTitle.html.twig') %}#}
{#        {% include configuration.vars.templates.breadcrumb|default('@SyliusAdmin/Crud/Index/_breadcrumb.html.twig') %}#}

{#        {{ sylius_template_event([event_prefix ~ '.header', 'sylius.admin.index.header'], _context) }}#}
{#    </div>#}

{#    {% include '@SyliusAdmin/Crud/Index/_actions.html.twig' %}#}
{#</div>#}
