<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="text-end">
            {{ 'sylius.ui.powered_by'|trans }}
            <a href="https://sylius.com" target="_blank">
                Sylius v{{ sylius_meta.version }}
            </a>.
            {{ 'sylius.ui.see_issue'|trans }}?
            <a href="https://github.com/Sylius/Sylius/issues" target="_blank">{{ 'sylius.ui.report_it'|trans }}!</a>
        </div>
    </div>
</footer>
