{% if channel is defined %}
    <span class="badge badge-outline sylius channel-badge" style="border-color: {{ channel.color|default('#000') }}; color: {{ channel.color|default('#000') }}">
        {{ channel.name|default(channel.code) }}
    </span>
{% endif %}
